node_modules
.env
*.log

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
coverage-final.json
coverage.lcov

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

.DS_Store

